In [1]:
import numpy as np
import pandas as pd

In [58]:
dir1 = '~/Desktop/python_files/1001_project_data_'
dir3 = '~/Downloads/python_files2/1001_project_data_'
dir2 = '~/Desktop/1001/data/1001_project_data_'

In [73]:
def checkdata(dflst):
    t = 0
    tail = dflst[0]['Unnamed: 0'].tail(1).values[0]
    for df in dflst:
        if t == 0:
            t += 1
            continue
        if df['Unnamed: 0'].head(1).values[0] != tail + 1:
            print(t)
            break
        else:
            tail = df['Unnamed: 0'].tail(1).values[0]
            t += 1

In [31]:
dflst = []
for i in ['0','500','1000','1500','2000','2500','4000','4500',
          '5000','5500','7000','7500','8000','8500','9000','9500','10000','10500','11000','11500','12000']:
    dflst.append(pd.read_csv(dir1+i
                            +'.csv'))
checkdata(dflst)

In [55]:

df1 = pd.concat(dflst , axis = 0, ignore_index = True, sort = False)
df1.drop(columns = 'Unnamed: 0',axis = 1, inplace = True)
print(df1.shape)
col = df1.columns.values

(12500, 53)

In [59]:
dflst = []
for i in ['12500','13000','13500','14000','14500','15000','15500','16000',
          '16500','17000','17500','18000','18500','19000','19500']:
    dflst.append(pd.read_csv(dir2+i
                            +'.csv'))
checkdata(dflst)

In [64]:
df2 = pd.concat(dflst , axis = 0, ignore_index = True, sort = False)
df2.drop(columns = 'Unnamed: 0',axis = 1, inplace = True)
print(df2.shape)
df2 = df2[col]

(7500, 53)

In [68]:
dflst = []
for i in ['20000','20500','21000','21500','22000','22500','23000','23500',
          '24000','24500','25000','25500']:
    dflst.append(pd.read_csv(dir3+i
                            +'.csv'))
checkdata(dflst)

In [74]:
df3 = pd.concat(dflst , axis = 0, ignore_index = True, sort = False)
df3.drop(columns = 'Unnamed: 0',axis = 1, inplace = True)
print(df3.shape)
df3 = df3[col]

(5750, 53)

In [75]:
print(len(df1)+len(df2)+len(df3)) #same as NY_Inspection.csv!

25750

In [76]:
dfall = pd.concat([df1,df2,df3],axis = 0,ignore_index = True,sort = False)
dfall.head()

,CAMIS,INSP_DATE,CRIT,CRIT_TYPE,HIST_CRIT,HIST_CRIT_TYPE,LAST_INSP_DATE,LAST_CRIT_DATE,CRIT_TIMES,INSP_TIMES,...,yelp_longitude,yelp_price,yelp_transactions,yelp_day0,yelp_day1,yelp_day2,yelp_day3,yelp_day4,yelp_day5,yelp_day6
0,30075445,2018-05-11,0,NaN,2.0,04L06D,2017-05-18,2017-05-18,2.0,2.0,...,-73.856010,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30112340,2018-03-13,1,04L,8.0,04A06B06A04N06C04N04N04H,2017-10-06,2017-10-06,6.0,7.0,...,-73.961753,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30191841,2018-05-16,1,04L,6.0,04N06C06D06D04H04H,2017-12-14,2017-12-14,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,40356018,2018-10-30,1,06D,2.0,06D06C,2017-07-20,2017-07-20,2.0,2.0,...,-73.982430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,40356151,2018-10-06,3,04N04H06D,2.0,04L06C,2017-08-19,2017-08-19,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
dfall.describe()

,CAMIS,CRIT,HIST_CRIT,CRIT_TIMES,INSP_TIMES,CRIT_RATE,ZIPCODE,SCORE,Dsince_LAST_INSP,Dsince_LAST_CRIT,...,yelp_latitude,yelp_longitude,yelp_price,yelp_day0,yelp_day1,yelp_day2,yelp_day3,yelp_day4,yelp_day5,yelp_day6
count,2.575000e+04,25750.000000,25750.000000,25750.000000,25750.000000,23937.000000,25318.000000,25750.000000,25750.000000,25750.000000,...,17555.000000,17555.000000,15295.000000,1.348700e+04,1.398500e+04,1.413200e+04,1.419000e+04,1.412800e+04,1.376800e+04,1.309500e+04
mean,4.610498e+07,1.287184,6.865282,3.586641,4.118291,0.849588,10669.418674,12.016816,199.703223,210.858408,...,40.728359,-73.947713,1.691206,1.014952e+07,1.027421e+07,1.031012e+07,1.032443e+07,1.028612e+07,1.037045e+07,1.028468e+07
std,4.402607e+06,1.033278,6.208188,2.590880,2.762251,0.235945,595.812600,9.021814,160.198256,197.137409,...,0.067452,0.076366,0.646715,3.779835e+06,3.830338e+06,3.840386e+06,3.857230e+06,3.823783e+06,3.692257e+06,3.518488e+06
min,3.007544e+07,0.000000,0.000000,0.000000,0.000000,0.000000,10000.000000,-1.000000,0.000000,0.000000,...,40.508927,-74.249793,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.139418e+07,1.000000,2.000000,2.000000,2.000000,0.750000,10022.000000,7.000000,43.000000,35.000000,...,40.693343,-73.989860,1.000000,7.301800e+06,7.302200e+06,7.302300e+06,8.000000e+06,8.000000e+06,8.002200e+06,8.002300e+06
50%,5.000581e+07,1.000000,5.000000,3.000000,4.000000,1.000000,10467.000000,11.000000,160.000000,160.000000,...,40.730050,-73.963886,2.000000,1.100040e+07,1.100200e+07,1.100204e+07,1.100203e+07,1.100020e+07,1.100020e+07,1.100200e+07
75%,5.005650e+07,2.000000,10.000000,5.000000,6.000000,1.000000,11228.000000,13.000000,364.000000,364.000000,...,40.761248,-73.910366,2.000000,1.130230e+07,1.145223e+07,1.200000e+07,1.200000e+07,1.200000e+07,1.200000e+07,1.200210e+07
max,5.008575e+07,11.000000,59.000000,15.000000,18.000000,1.000000,11697.000000,156.000000,1009.000000,1095.000000,...,40.917470,-73.700812,4.000000,2.230230e+07,2.300040e+07,2.300040e+07,2.300040e+07,2.330040e+07,2.330040e+07,2.300040e+07

In [ ]:
dfall.to_csv('1001_Project_data_insp_yelp.csv',)